<%if current_user.has_role? :Super_usuario or current_user.has_role? :Administrador %>
<div class="ui containr">
<h1>Editar Asistencia</h1>

<%= render 'form', assistance: @assistance %>

<%= link_to 'Ver', @assistance %> |
<%= link_to 'Atras', assistances_path %>

<%end%>

</div>