<%if current_user.has_role? :Super_usuario or current_user.has_role? :Administrador %>
<div class="ui container">
<h1>Nueva Papeleta</h1>

<%= render 'form', voucher: @voucher %>

<%= link_to 'Back', vouchers_path %>
</div>

<%end%>